@import url("../../node_modules/bootswatch/dist/darkly/bootstrap.css") (prefers-color-scheme: dark);
@import url("../../node_modules/bootswatch/dist/flatly/bootstrap.css") (prefers-color-scheme: light);

@font-face {
    font-family: "bank-gothic";
    font-style: normal;
    font-weight: normal;
    /* src: url("../fonts/bank-gothic-medium-bt.eot");
    src: url("../fonts/bank-gothic-medium-bt.eot?#iefix") format("embedded-opentype"),
        url("../fonts/bank-gothic-medium-bt.woff2") format("woff2"),
        url("../fonts/bank-gothic-medium-bt.woff") format("woff"),
        url("../fonts/bank-gothic-medium-bt.ttf") format("truetype"); */
    src: url("../fonts/bank-gothic-medium-bt.woff2") format("woff2");
}

@font-face {
    font-family: "built-titling";
    font-style: normal;
    font-weight: normal;
    /* src: url("../fonts/built-titling-sb.eot");
    src: url("../fonts/built-titling-sb.eot?#iefix") format("embedded-opentype"),
        url("../fonts/built-titling-sb.woff2") format("woff2"),
        url("../fonts/built-titling-sb.woff") format("woff"),
        url("../fonts/built-titling-sb.ttf") format("truetype"); */
    src: url("../fonts/built-titling-sb.woff2") format("woff2");
}

@font-face {
    font-family: "frutiger-light";
    font-style: normal;
    font-weight: normal;
    /* src: url("../fonts/FrutigerLTStd-Light.eot");
    src: url("../fonts/FrutigerLTStd-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/FrutigerLTStd-Light.woff2") format("woff2"),
        url("../fonts/FrutigerLTStd-Light.woff") format("woff"),
        url("../fonts/FrutigerLTStd-Light.ttf") format("truetype"); */
    src: url("../fonts/FrutigerLTStd-Light.woff2") format("woff2");
}

@font-face {
    font-family: "franklin-gothic-book";
    font-style: normal;
    font-weight: normal;
    /* src: url("../fonts/franklin-gothic-book.eot");
    src: url("../fonts/franklin-gothic-book.eot?#iefix") format("embedded-opentype"),
        url("../fonts/franklin-gothic-book.woff2") format("woff2"),
        url("../fonts/franklin-gothic-book.woff") format("woff"),
        url("../fonts/franklin-gothic-book.ttf") format("truetype"); */
    src: url("../fonts/franklin-gothic-book.woff2") format("woff2");
}

@font-face {
    font-family: "brothers-regular";
    font-style: normal;
    font-weight: normal;
    /* src: url("../fonts/brothers-regular.eot");
    src: url("../fonts/brothers-regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/brothers-regular.woff2") format("woff2"),
        url("../fonts/brothers-regular.woff") format("woff"),
        url("../fonts/brothers-regular.ttf") format("truetype"); */
    src: url("../fonts/brothers-regular.woff2") format("woff2");
}

::selection {
    color: black;
    background: lightblue;
}

canvas {
    height: auto;
    width: 100%;
}

.nav-tabs {
    width: 100%;
}

.navbar-toggler {
    padding: 0;
}

@media (min-width: 991px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 991px) {
    .nav-tabs .nav-link {
        border: 0;
    }
}

@media (prefers-color-scheme: dark) {
    canvas {
        background: #303030;
    }
}

@media (prefers-color-scheme: dark) {
    .navbar-toggler {
        color: rgba(255, 255, 255, .5);
        border-color: rgba(255, 255, 255, .1);
    }

    .navbar .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.6%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}

@media (prefers-color-scheme: light) {
    canvas {
        background: #e9ecef;
    }
}

@media (prefers-color-scheme: light) {
    .navbar-toggler {
        color: rgba(0, 0, 0, .5);
        border-color: rgba(0, 0, 0, .1);
    }

    .navbar .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2834, 34, 34, 0.7%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}

